langchain==0.3.13
langchain-community==0.3.13
langchain-core==0.3.28
langchain-openai==0.2.14
langchain-text-splitters==0.3.4
openai==1.58.1
uvicorn==0.34.0
pydantic==2.10.4
pydantic_core==2.27.2
pymongo==4.10.1
fastapi==0.115.6
tzdata==2024.2
httpx==0.28.
transformers==4.47.1
pytz==2024.2
